html, body {
    height: 100%;
}

.switcher-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.switcher-wrapper .swicher-preview, .switcher-wrapper .switcher-actions {
    width: 45%;
    padding: 1em;
    height: 100%;
}

.switcher-wrapper .swicher-preview {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.switcher-wrapper .swicher-preview .top {}

.switcher-wrapper .swicher-preview .belt {}

.switcher-wrapper .swicher-preview .bottom {}

.switcher-wrapper .switcher-actions .steps {
    display: none;
}

.switcher-wrapper .switcher-actions .steps.active {
    display: block;
    animation: fadeEffect 2s; /* Fading effect takes 1 second */
}

.switcher-actions .steps ul.printStype {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: unset;
    padding: unset;
}

.switcher-actions .steps ul.printStype li img{
    cursor: pointer;
}

.switcher-actions .steps ul.colorStyle {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: unset;
    padding: unset;
}

.switcher-actions .steps ul.colorStyle li {
    margin: 10px;
    text-align: center;
}

.switcher-actions .steps ul.colorStyle li img {
    border-radius: 100%;
    cursor: pointer;
}

.switcher-actions .steps .jcarousel-wrapper .jcarousel ul li img {
    cursor: pointer;
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}